<h1>Welcome to Soogle Forms!</h1>
<p>
    you may only enter your name, you cannot create forms<br>
    first names only please
</p>

<form method="POST">
    <input name="text">
    <input type="submit">
</form>

</p><small>No this site does not have anti-SQL injection measures, those would be overkill for a site that collects first names<br>
    (and this is my first Flask webpage) <br>
    <small>We do not sell your data nor distribute it to any external organization for any reason</small></small></p>